<!-- <!DOCTYPE html>
<html>
    <head>
        <title>Page Title</title>
        <link rel="stylesheet" type="text/css" href="bootstrap.min.css"/>
        <script src="angular.min.js"></script>
    </head>
    <body>
        
        <div >
            <h1> {{ 3 + 2 }} </h1>
            <h1> ${{store.product.price}}</h1>
            <p>{{store.product.description}}</p>
        </div>
        
        <script src="app.js"></script>
    </body>
</html> -->
<!DOCTYPE html>
<html ng-app="store">
    <head>
        <title>Page Title</title>
        <link rel="stylesheet" type="text/css" href="bootstrap.min.css"/>
    </head>
<body>
    <div  ng-controller="StoreController as store">
        <div class="list-group">
            <div class="list-group-item" ng-repeat="product in store.products">
                <h3>
                    {{product.name}}
                    <em class="pull-right">{{product.price | currency}}</em>
                </h3>
                <section  class="gallary" ng-show="product.images.length" ng-controller="GalleryController as gallery">
                    <img ng-src="{{product.images[gallery.current]}}" />
                    <ul class="list-inline thumbs">
                        <li class="thumbnail" ng-repeat="image in product.images">
                            <img ng-src="{{image}}" />
                        </li>
                    </ul>
                </section>
            
                <section class="tab" ng-controller="TabController as tab">
                    <ul class="nav nav-pills">
                        <li ng-class="{active:tab.isSet(1)}">
                            <a href ng-click="tab.setTab(1)">Description</a>
                        </li>
                        <li ng-class="{active:tab.isSet(2)}">
                            <a href ng-click="tab.setTab(2)">Specs</a>
                        </li>
                        <li ng-class="{active:tab.isSet(3)}">
                            <a href ng-click="tab.setTab(3)">Reviews</a>
                        </li>
                    </ul>
                    <div ng-show="tab.isSet(1)">
                        <h4>Description</h4>
                        <blockquote>{{product.description}}</blockquote>
                    </div>
                    <div ng-show="tab.isSet(2)">
                        <h4>Specs</h4>
                        <blockquote>Shine:{{product.shine}} </blockquote>
                    </div>
                    <div ng-show="tab.isSet(3)">
                        <h4>Reviews</h4>
                        <blockquote></blockquote>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
</body>
</html>